{% extends 'app/base.html' %}
{% load static %}
{% block title %} Password Change done{% endblock title %}
{% block main-content %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card mt-5">
              <div class="card-body">
                  <h2 class="card-title text-center">Password Changed Successfully!</h2>
                  <p class="card-text text-center">Your password has been changed successfully.</p>
                  <p class="card-text text-center">You can now log in using your new password.</p>
                  <div class="d-flex justify-content-center">
                      <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
{% endblock main-content %}